a {
  text-decoration: none;
  color: #dbddef;
  background-color: transparent;
}

img,
svg {
  vertical-align: middle;
  border-style: none;
}

.header {
  margin-bottom: 30px;
  z-index: 9999;
  border-bottom: 1px solid #24285a;
}

.header .toolbar {
  width: 100%;
  display: flex;
  align-items: center;
  height: 40%;
  background: #0b1029;
}

.header .toolbar-active,
.header .nav {
  background: #64305f;
}

.header .toolbar-active {
  height: 100%;
  display: flex;
  align-items: center;
}

.header .toolbar-active .brand {
  display: flex;
  align-items: center;
  height: 100%;
  font-weight: 400;
  padding: 0 10px 0 15px;
}

.header .toolbar-active .toolbar-nav-item {
  color: #dbddef;
  font-size: 14px;
  font-weight: 500;
  padding: 0 15px 0 10px;
  margin: 0;
}

.header .toolbar .toolbar-nav-item {
  display: flex;
  align-items: center;
  height: 30px;
  border-radius: 4px;
  cursor: pointer;
}

.header .toolbar .toolbar-nav-item .toolbar-game {
  width: 24px;
  border-radius: 50%;
  margin-right: 8px;
}

.toolbar-active {
  justify-content: space-between;
}

.right-section {
  margin-left: auto;
}

.register-button {
  background-color: #64305f;
  padding: 10px 20px;
  border-radius: 4px;
  color: #dbddef;
  text-decoration: none;
  font-weight: 500;
}

.register-button:hover {
  background-color: #864180;
}

.nav {
  height: 50px;
  display: flex;
  justify-content: center;
}

.nav-links {
  display: flex;
  list-style: none;
  padding: 0;
}

.nav-item {
  margin-right: 20px;
}

.nav-link {
  text-decoration: none;
  padding: 20px;
}

.nav-link:hover {
  background-color: #864180;
}