.t-transform-none {
    margin: 0.3em;
    border: solid black;
    text-transform: none;
}
.t-transform-capitalize {
    text-transform: capitalize;
    margin: 0.3em;
    border: solid black;
}
.t-transform-lower {
    text-transform: lowercase;
    margin: 0.3em;
    border: solid black;
}
.t-transform-upper {
    margin: 0.3em;
    border: solid black;    
    text-transform: uppercase;
}