div.h2 {
    background: #fff;
    border: solid #c8ccd1;
    border-width: 1px;
    box-shadow: 0 1px 1px rgb(0 0 0 / 15%);
    font-size: 25px;
}
div.search {
    margin-top: -1.8em;
    margin-left: 71em;
    font-size: 14px;
}
div.link1 {
    background: #fff;
    border: solid #c8ccd1;
    border-width: 1px;
    box-shadow: 0 0rem 0.1rem rgb(0 0 0 / 15%);
    margin-top: -1em;
    font-size: 14px;
}
div.noticias {
    background: #fff;
    border: solid #c8ccd1;
    border-width: 1px;
    box-shadow: 0 1px 1px rgb(0 0 0 / 15%);
    font-size: 13px;
    margin-right: 85em;
}
div.subtitulo {
    font-size: 18px;
}
div.center {
    background: #fff;
    border: solid #c8ccd1;
    border-width: 1px;
    box-shadow: 0 1px 1px rgb(0 0 0 / 15%);
    margin-left: 8em;
    margin-top: -32.8em;
    padding-bottom: 2em;
}
div.textocent {
    border-bottom: solid #c8ccd1;
    border-right: solid #c8ccd1;
    border-width: 1px;
    box-shadow: 0 1px 1px rgb(0 0 0 / 15%);
    margin-top: -1em;
    margin-right: 20em;
}
div.img1 {
    clear: left;
    float: left;
}