div #cabsuperior {
    flex: auto;
    border: 1px solid black;
    padding: 1em;
}
.izquierda {float: left;}
.derecha {
    float: right;
    padding-top: 1em;
}
div #clear {clear: both;}
div #cabinferior {
    border: 1px solid black;
    padding: 1em;
}
div #cuerpo {
    display: flex;
    flex: auto;
    margin-top: 0.5em;
}
div #menu {
    border: 1px solid black;
    float: left;
    padding: 0.5em;
    margin-bottom: 0.5em;
    width: 250px;

    margin-right: 0.5em;
}
div #central {
    border: 1px solid black;
    display: flex;
    float: right;
    width:fit-content;
    height: fit-content;
}
div #principal {
    float: left;
    border: 1px solid black;
    margin-right: 0.5em;
}
div #secundario {
    float: right;
    border: 1px solid black;
    width: 250px;
    height: min-content;
}
div #pie {
    margin-top: 0.5em;
    border: 1px solid black;
    flex: auto;
}
div #enlaces {float: left;}
div #copy {float: right;}
img {
    float: left;
}